# Superstore ETL

This notebook ingests the Superstore dataset, performs basic cleaning and validation, and writes a cleaned `superstore` table to PostgreSQL.

**Inputs:**
- `./sources/superstore.csv` (source CSV)

**Outputs:**
- PostgreSQL table: `superstore` (written using `pandas.DataFrame.to_sql`)

**Execution steps:**
1. Configure database connection
2. Load CSV into pandas
3. Normalize column names and parse datetimes
4. Handle missing values and duplicates
5. Persist cleaned data to the database

Run cells top-to-bottom; update connection string before writing to the DB.

In [4]:
# ----------------------------------------------------------------------------
# Imports
# ----------------------------------------------------------------------------
# Core libraries for data handling and typing
import pandas as pd
from csv import DictReader
from typing import List

# SQLAlchemy for DB connections and ORM helpers
from sqlalchemy import create_engine

# Note: Ensure dependencies are installed (requirements.txt). Replace hardcoded
# credentials with environment variables for production use.

In [ ]:
# ----------------------------------------------------------------------------
# Database engine configuration
# ----------------------------------------------------------------------------
# Update the connection string below to match your local or remote Postgres instance.
from pydotenv import Environment
env = Environment('.env')

# Current local test engine (edit as needed):
engine = create_engine(f'postgresql://{env.get('DB_USER')}:{env.get('DB_PASS')}@{env.get('DB_HOST')}:{env.get('DB_PORT')}/{env.get('DB_NAME')}')
engine  # display engine info to confirm connection string format

Engine(postgresql://postgres:***@localhost/dataEngineering)

#### Load source CSV into pandas
> Reads the Superstore CSV from the `sources` folder. `encoding_errors='ignore'`
> prevents crashes from bad characters. `index_col=0` is used because this CSV
> already contains an index column; adjust if your CSV differs.

In [6]:

df = pd.read_csv("./sources/superstore.csv", encoding_errors='ignore', index_col=0)

# Quick preview to validate load
df.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Row ID,,,,,,,,,,,,,,,,,,,,
1,CA-2013-152156,09-11-2013,12-11-2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
2,CA-2013-152156,09-11-2013,12-11-2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
3,CA-2013-138688,13-06-2013,17-06-2013,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
4,US-2012-108966,11-10-2012,18-10-2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
5,US-2012-108966,11-10-2012,18-10-2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [7]:
# ----------------------------------------------------------------------------
# Normalize column names
# ----------------------------------------------------------------------------
# Convert all column names to lowercase and replace spaces with underscores
# to make them SQL/table friendly and easier to reference in code.

df.columns = df.columns.str.lower()
# Replace spaces with underscores and strip leading/trailing whitespace
df.columns = df.columns.str.strip().str.replace(' ', '_')

# Show resulting columns for verification
df.columns.tolist()

['order_id',
 'order_date',
 'ship_date',
 'ship_mode',
 'customer_id',
 'customer_name',
 'segment',
 'country',
 'city',
 'state',
 'postal_code',
 'region',
 'product_id',
 'category',
 'sub-category',
 'product_name',
 'sales',
 'quantity',
 'discount',
 'profit']

In [8]:
# ----------------------------------------------------------------------------
# Parse date columns
# ----------------------------------------------------------------------------
# Convert order_date and ship_date to datetime64. If parsing fails, report rows
# that could not be converted so the user can inspect/correct the source.

try:
    df[['order_date', 'ship_date']] = df[['order_date', 'ship_date']].astype('datetime64[ns]')
except Exception as e:
    print('Date conversion error:', e)
    # Show problematic rows for inspection
    bad_dates = df[~pd.to_datetime(df['order_date'], errors='coerce').notna() | ~pd.to_datetime(df['ship_date'], errors='coerce').notna()]
    if not bad_dates.empty:
        display(bad_dates.head())

# Confirm types
df.dtypes[['order_date', 'ship_date']]

order_date    datetime64[ns]
ship_date     datetime64[ns]
dtype: object

In [9]:
# ----------------------------------------------------------------------------
# Data type overview
# ----------------------------------------------------------------------------
# Show dtypes for the dataframe to verify conversions

df.dtypes

order_id                 object
order_date       datetime64[ns]
ship_date        datetime64[ns]
ship_mode                object
customer_id              object
customer_name            object
segment                  object
country                  object
city                     object
state                    object
postal_code               int64
region                   object
product_id               object
category                 object
sub-category             object
product_name             object
sales                   float64
quantity                  int64
discount                float64
profit                  float64
dtype: object

In [10]:
# ----------------------------------------------------------------------------
# Missing value checks and handling hints
# ----------------------------------------------------------------------------
# Count missing values per column. Decide whether to drop, fill, or impute based
# on business rules. Here we only report counts for user review.

missing_counts = df.isna().sum()
print(missing_counts[missing_counts>0])

# Example action (uncomment if desired):
# df['postal_code'] = df['postal_code'].fillna('UNKNOWN')

Series([], dtype: int64)

In [11]:
# ----------------------------------------------------------------------------
# Inspect and display duplicate rows (if any)
# ----------------------------------------------------------------------------
# Useful to inspect duplicates before deciding whether to drop them.

duplicate_row = df[df.duplicated(keep=False)]  # all duplicate occurrences
if not duplicate_row.empty:
    print(f"Found {len(duplicate_row)} duplicated rows; showing samples:")
    display(duplicate_row.head())
else:
    print("No duplicated rows found.")

duplicate_row

Found 2 duplicated rows; showing samples:

,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub-category,product_name,sales,quantity,discount,profit
Row ID,,,,,,,,,,,,,,,,,,,,
3406,US-2011-150119,2011-04-23,2011-04-27,Standard Class,LB-16795,Laurel Beltran,Home Office,United States,Columbus,Ohio,43229,East,FUR-CH-10002965,Furniture,Chairs,Global Leather Highback Executive Chair with P...,281.372,2,0.3,-12.0588
3407,US-2011-150119,2011-04-23,2011-04-27,Standard Class,LB-16795,Laurel Beltran,Home Office,United States,Columbus,Ohio,43229,East,FUR-CH-10002965,Furniture,Chairs,Global Leather Highback Executive Chair with P...,281.372,2,0.3,-12.0588

,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub-category,product_name,sales,quantity,discount,profit
Row ID,,,,,,,,,,,,,,,,,,,,
3406,US-2011-150119,2011-04-23,2011-04-27,Standard Class,LB-16795,Laurel Beltran,Home Office,United States,Columbus,Ohio,43229,East,FUR-CH-10002965,Furniture,Chairs,Global Leather Highback Executive Chair with P...,281.372,2,0.3,-12.0588
3407,US-2011-150119,2011-04-23,2011-04-27,Standard Class,LB-16795,Laurel Beltran,Home Office,United States,Columbus,Ohio,43229,East,FUR-CH-10002965,Furniture,Chairs,Global Leather Highback Executive Chair with P...,281.372,2,0.3,-12.0588

In [12]:
# ----------------------------------------------------------------------------
# Drop duplicates (if appropriate)
# ----------------------------------------------------------------------------
# Keep the last occurrence of duplicated rows. Ensure this is consistent with
# your business rule — sometimes you may want to keep the first or aggregate.

df.drop_duplicates(keep='last', inplace=True)
print(f"Duplicates after drop: {df.duplicated().sum()}")

Duplicates after drop: 0

In [13]:
# ----------------------------------------------------------------------------
# Quick duplicate sanity check
# ----------------------------------------------------------------------------
# Confirm there are no remaining duplicates

df.duplicated().sum()  # should be 0 after drop_duplicates

0

In [14]:
# ----------------------------------------------------------------------------
# Persist cleaned dataframe to PostgreSQL
# ----------------------------------------------------------------------------
# Writes the dataframe to the `superstore` table. Default `if_exists` is 'fail',
# but here we rely on default; change to `if_exists='replace'` or `'append'` as
# appropriate for your workflow. Ensure the `engine` has correct credentials.

# Example: append new rows without dropping the table
# df.to_sql(name='superstore', con=engine, index=False, if_exists='append')

# For first-time load you may prefer replace to overwrite any existing table
# df.to_sql(name='superstore', con=engine, index=False, if_exists='replace')

# Current notebook uses default behavior; uncomment and choose one of the
# above options to execute a write.

# df.to_sql(name='superstore', con=engine, index=False)
print('To persist data, uncomment and run the preferred df.to_sql(...) command above.')

To persist data, uncomment and run the preferred df.to_sql(...) command above.

In [15]:
# ----------------------------------------------------------------------------
# Inspect database schema and validate written table
# ----------------------------------------------------------------------------
from sqlalchemy import select, Table, MetaData

metadata = MetaData()
# Reflect reads the database schema into SQLAlchemy metadata using the active engine
metadata.reflect(bind=engine)

# Confirm the `superstore` table exists in reflected metadata
if 'superstore' in metadata.tables:
    print('superstore table found in database schema')
else:
    print('superstore table not found — write the table first using df.to_sql(...)')

superstore table found in database schema

In [16]:
# ----------------------------------------------------------------------------
# Print table schema info
# ----------------------------------------------------------------------------
superstore_schema = metadata.tables.get('superstore')
print(superstore_schema)

# If you need to inspect column types, iterate through columns:
# for col in superstore_schema.columns:
#     print(col.name, col.type)

superstore

In [17]:
# ----------------------------------------------------------------------------
# Read back rows from the database for quick validation
# ----------------------------------------------------------------------------
with engine.connect() as conn:
    result = conn.execute(select(superstore_schema))
    rows = [dict(row._mapping) for row in result]

# Convert to DataFrame for inspection
test = pd.DataFrame(rows)

display(test.head())
print('Rows read from DB:', len(test))

,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub-category,product_name,sales,quantity,discount,profit
0,CA-2013-152156,2013-09-11,2013-12-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,CA-2013-152156,2013-09-11,2013-12-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,CA-2013-138688,2013-06-13,2013-06-17,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,US-2012-108966,2012-11-10,2012-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,US-2012-108966,2012-11-10,2012-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

Rows read from DB: 9993

In [18]:
test = pd.DataFrame(rows)

In [19]:
test

,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub-category,product_name,sales,quantity,discount,profit
0,CA-2013-152156,2013-09-11,2013-12-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,CA-2013-152156,2013-09-11,2013-12-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,CA-2013-138688,2013-06-13,2013-06-17,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,US-2012-108966,2012-11-10,2012-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,US-2012-108966,2012-11-10,2012-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9988,CA-2011-110422,2011-01-22,2011-01-24,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,Florida,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9989,CA-2014-121258,2014-02-27,2014-04-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9990,CA-2014-121258,2014-02-27,2014-04-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9991,CA-2014-121258,2014-02-27,2014-04-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9992,CA-2014-119914,2014-05-05,2014-10-05,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,California,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [20]:
test.dtypes

order_id                 object
order_date       datetime64[ns]
ship_date        datetime64[ns]
ship_mode                object
customer_id              object
customer_name            object
segment                  object
country                  object
city                     object
state                    object
postal_code               int64
region                   object
product_id               object
category                 object
sub-category             object
product_name             object
sales                   float64
quantity                  int64
discount                float64
profit                  float64
dtype: object

## Summary and Next Steps

- The notebook loads `./sources/superstore.csv`, performs basic cleaning (column normalization, datetime parsing, duplicate removal), and provides options to persist the cleaned data to PostgreSQL.